* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

canvas {
  vertical-align: top;
  width: 100%;
  height: 100%;
  /*width: 300px;*/
  /*height: 150px;*/
}

#youtube-container {
  position: fixed;
  bottom: 0;
  right: 0;
}

#ui{
  position: absolute;
  padding: 5px;
  top: 50px;
  left: 0px;
  color: #FFF;
  transform-origin: 0% 0%;
  background-color: rgba(0,0,0,0.2)
}
#ui p{
  margin-bottom: 10px;
}

h1{
  font-size: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}
h3{
  font-size: 16px;
  margin-bottom: 10px;
  color: #666;
}
h4{
  color: red;
}

ul{
  margin-top: 24px
}
li{
  margin-bottom: 10px;
}
a {
  color: #33F;
  font-size: 16px
}
